<div class="md:mt-36 sm:mt-12 divide-x-0 divide-gray-200 overflow-hidden sm:grid sm:grid-cols-2 sm:gap-px md:divide-x">
  <div class="p-6">
    <%= render 'current', location: @location, conditions: @weather.current %>
  </div>
  <div class="p-6">
    <%= render 'forecast', forecast: @weather.forecast %>
  </div>
</div
